#cabecalho{
    background-color: tomato;
    text-align: center;
    /* Criar um recuo externo ao box   */
    /* margin: 50px; Aplica a medida para todos os lados   */
    /* margin: 50px 30px; Para cima e para baixo e depois para esquerda e direita   */
    /* margin: 50px 30px 120px 70px; Para todas as direção no sentido horário */
    border: 10px black dashed;
    padding: 50px;
}

#navegacao{
    flex: 1;
    background-color: brown;
    height: 500px;
}

#conteudo{
    flex: 3;
    background-color: crimson;
    height: 500px;
}

#divmeio{
    display: flex;
}

div h1{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

div{
    /* margin: 30px; */
}

body{
    padding: 30px;
}