/* Sintaxe do CSS: 
    propriedade : valor
    color : red | hexadecimal #a26afb */

/* O estilo inline serve para aplicar o CSS direto em um componente do HTML */

h3{
    color: gold;
}

p{
    color: orangered;
}

#paragrafoEstiloUnico{
    color: blueviolet;
}

.paragrafoEstiloClasse{
    color: crimson;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    border: 3px solid #abcdef;
}