body {
    padding: 50px;
}

#cabecalho h1 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid steelblue;
}

#conteudo {
    display: flex;
}

#infoPessoal {
    flex: 1;
    height: 500px;
    background-color: teal;
}

#atividades {
    flex: 3;
    height: 500px;
    background-color: tomato;
}